
div#__next {
  background-color: #130f40;
  box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url(https://www.pngkey.com/png/full/48-483820_background-png-patterns-transparent-pattern-background-png.png);
    background-repeat: no-repeat;
    background-size: cover; 

}
body {
  color: var(#171717);
  background: var(#ffffff);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f285;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
